# Working with Missing data in pandas

In [13]:
import pandas as pd
import numpy as np

We begin by defining a pandas dataframe that contains some cells with missing values. Note that pandas, in addition to allowing us to create dataframes from a variety of files, also supports explicit declaration.

In [7]:
incomplete_df = pd.DataFrame({'id': [1,2,3,2,2,3,1,1,1,2,4],
                              'type': ['one', 'one', 'two', 'three', 'two', 'three', 'one', 'two', 'one', 'three','one'],
                              'amount': [345,928,np.NAN,645,113,942,np.NAN,539,np.NAN,814,np.NAN] 
                             }, columns=['id','type','amount'])

Column 'amount' is the only one with missing values. Now we display the dataframe

In [8]:
#TODO: display the dataframe

incomplete_df

    id   type  amount
0    1    one   345.0
1    2    one   928.0
2    3    two     NaN
3    2  three   645.0
4    2    two   113.0
5    3  three   942.0
6    1    one     NaN
7    1    two   539.0
8    1    one     NaN
9    2  three   814.0
10   4    one     NaN

Recall that summary statistics and arithmetic with missing data is natively supported by pandas. Let's define two series, both containing some missing values.

In [11]:
A = incomplete_df['amount']
B = pd.Series(data=[np.NAN,125,335,345,312,np.NAN,np.NAN,129,551,800,222])

In [12]:
#TODO: print the content of A
print(A)
print ('\n')

#TODO: print the content of B
print(B)

0     345.0
1     928.0
2       NaN
3     645.0
4     113.0
5     942.0
6       NaN
7     539.0
8       NaN
9     814.0
10      NaN
Name: amount, dtype: float64


0       NaN
1     125.0
2     335.0
3     345.0
4     312.0
5       NaN
6       NaN
7     129.0
8     551.0
9     800.0
10    222.0
dtype: float64

The mean is computed normally and missing values are ignored:

In [14]:
# TODO: Compute and print the mean value of A
# NA values were ignored here
print("A: mean=", A.mean())

A: mean= 618.0

In [27]:
np.mean(A)

618.0

Min, Max, STD and Variance all work even when data are missing:

In [31]:
# TDOD: Compute and display the min, max, standard deviation and variance of B
# if one puts them all in one withouth a comma between or print() it will only show the last value
print(B.min())
print(B.max())
print(B.std())
print(B.var())

125.0
800.0
226.90459763647678
51485.69642857143

We can also perform element-wise arithmetic operations between series with missing data. Note that by definition the result of any operation that involves missing values is NaN.

In [17]:
# TDOD: Compute and display the min, max, standard deviation and variance of B
B.describe()

count      8.000000
mean     352.375000
std      226.904598
min      125.000000
25%      198.750000
50%      323.500000
75%      396.500000
max      800.000000
dtype: float64

In [32]:
# TODO: Perform element-wise addition between the values in A and B
C = A + B

# any operation with a Null value will still be Null later so outcome still shows Null

print(C)

for i in range(0, len(C)):
    print(i, "  |  ", A[i],"  |  ", B[i],"  |  ", C[i])

0        NaN
1     1053.0
2        NaN
3      990.0
4      425.0
5        NaN
6        NaN
7      668.0
8        NaN
9     1614.0
10       NaN
dtype: float64
0   |   345.0   |   nan   |   nan
1   |   928.0   |   125.0   |   1053.0
2   |   nan   |   335.0   |   nan
3   |   645.0   |   345.0   |   990.0
4   |   113.0   |   312.0   |   425.0
5   |   942.0   |   nan   |   nan
6   |   nan   |   nan   |   nan
7   |   539.0   |   129.0   |   668.0
8   |   nan   |   551.0   |   nan
9   |   814.0   |   800.0   |   1614.0
10   |   nan   |   222.0   |   nan

### Filling missing values

Recall that pandas has a function that allows you to drop any rows in a dataframe (or elements in a series) that contain a missing value.

In [19]:
# TODO: Print the values of attribute A before removing the null values
print("Original dataframe \n", A)
print("\n \n")

# TODO: now, print the values of A but without the null values 
print("Removed Null/NAN \n", A.dropna())

Original dataframe
 0     345.0
1     928.0
2       NaN
3     645.0
4     113.0
5     942.0
6       NaN
7     539.0
8       NaN
9     814.0
10      NaN
Name: amount, dtype: float64



Removed Null/NAN
 0    345.0
1    928.0
3    645.0
4    113.0
5    942.0
7    539.0
9    814.0
Name: amount, dtype: float64

However, very often you may wish to fill in those missing values rather than simply dropping them. Of course, pandas also has that functionality. For example, we could fill missing values with a scalar number, as shown below.

In [20]:
# TODO: replace the missing value with -99
# replacing all missing values with a constant value
# or with the full df to change all NAs incomplete_df.fillna(-99)
# this would change ALL values though so string values would still have -99 in them

A.fillna(-99)

0     345.0
1     928.0
2     -99.0
3     645.0
4     113.0
5     942.0
6     -99.0
7     539.0
8     -99.0
9     814.0
10    -99.0
Name: amount, dtype: float64

That actually works with any data type.

In [21]:
# TODO: fill the missing values with the string 'unknown'

A.fillna("unkown")

0        345
1        928
2     unkown
3        645
4        113
5        942
6     unkown
7        539
8     unkown
9        814
10    unkown
Name: amount, dtype: object

As such, we can use this functionality to fill in the gaps with the average value computed across the non-missing values.

In [22]:
# TODO: replace the missing values with the average value of the non-missing values in attribute A

A.fillna(A.mean())

0     345.0
1     928.0
2     618.0
3     645.0
4     113.0
5     942.0
6     618.0
7     539.0
8     618.0
9     814.0
10    618.0
Name: amount, dtype: float64

Even better, if we want to fill in the gaps with mean values of corresponding *id's* (recall our initial dataframe printed below), the following two lines of code perform that seemingly complex task.

In [ ]:
incomplete_df

In [34]:
# Fill in gaps in the 'amount' column with means obtained from corresponding id's in the first column
df = incomplete_df.copy() # always use copy, to avoid changes reflects in both dfs

# or Hakim answer
incomplete_df["amount"].fillna(incomplete_df.groupby("id")["amount"].transform("mean"),inplace=True)

#TODO: display the dataframe. What do you see?
avg = df.groupby(['id']).mean() # mean grouped by ID

# Completing missing values in column Amnount within average values from ID
for i in range(len(df)):
    if pd.isnull(df['amount'][i]) == True:
        id1 = df.loc[i, 'id'] #look for index position (ID`s number)
       
        df['amount'][i] = avg.loc[id1] #change value of ID index i, with value from that avg

#TODO: display the dataframe. What do you see?
# ANswer: id 4 dont have any value, so we can`t use the mean.
print("avg means of each id", avg)
print("\n \n")
print("Original DF \n", incomplete_df)
print("\n \n")
print("Df w/o missing values \n", df)

avg means of each id     amount
id
1    442.0
2    625.0
3    942.0
4      NaN



Original DF
     id   type  amount
0    1    one   345.0
1    2    one   928.0
2    3    two     NaN
3    2  three   645.0
4    2    two   113.0
5    3  three   942.0
6    1    one     NaN
7    1    two   539.0
8    1    one     NaN
9    2  three   814.0
10   4    one     NaN



Df w/o missing values
     id   type  amount
0    1    one   345.0
1    2    one   928.0
2    3    two   942.0
3    2  three   645.0
4    2    two   113.0
5    3  three   942.0
6    1    one   442.0
7    1    two   539.0
8    1    one   442.0
9    2  three   814.0
10   4    one     NaN

<ipython-input-34-2af8517aa010>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['amount'][i] = avg.loc[id1] #change value of ID index i, with value from that avg

In [25]:
# TODO: If there is no corresponding id and the cell is still null, simply use the overall mean
df.fillna(df.mean(), inplace=True) #change existing df with inplace = True
df

# or Hakim answer
incomplete_df["amount"].fillna(incomplete_df["amount"].mean(), inplace=True)

    id   type  amount
0    1    one   345.0
1    2    one   928.0
2    3    two   942.0
3    2  three   645.0
4    2    two   113.0
5    3  three   942.0
6    1    one   442.0
7    1    two   539.0
8    1    one   442.0
9    2  three   814.0
10   4    one   615.2

You can fill values forwards and backwards with the flags *pad* / *ffill* and *bfill* / *backfill*

In [26]:
# TODO: fill the missing values in B with the values in the previous records (no limit)

print (B)
print ('\n')    # line to separate the output
B.fillna(method = 'pad')

0       NaN
1     125.0
2     335.0
3     345.0
4     312.0
5       NaN
6       NaN
7     129.0
8     551.0
9     800.0
10    222.0
dtype: float64

0       NaN
1     125.0
2     335.0
3     345.0
4     312.0
5     312.0
6     312.0
7     129.0
8     551.0
9     800.0
10    222.0
dtype: float64

We can set a limit if we only want to replace consecutive gaps.

In [ ]:
# TODO: fill the missing values in B with the value in the next record (the value of a record can be used in the next record only)

### Outlier detection

We can use the data pid.csv to practice on outlier detection

In [14]:
# TODO: read the csv file pid

df = pd.read_csv("pid.csv")
df

FileNotFoundError: [Errno 2] File pid.csv does not exist: 'pid.csv'

In [ ]:
# TODO: for each column except the label column, compute the standard deviation of the columns
# report all the values that are at distance > 3 * std from the mean value as outliers.

# Data Transformation

We begin by defining a pandas dataframe that contains some cells with missing values. Note that pandas, in addition to allowing us to create dataframes from a variety of files, also supports explicit declaration.

In [6]:
df = pd.DataFrame(np.arange(5 * 4). reshape(5, 4))
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

### Data Sampling

To select a random subset without replacement, one way is to slice off the first k elements of the array returned by permutation, where k is the desired subset size. Here, we use the 'take' method, which retrieves elements along a given axis at the given indices. Using this function, we slice off the first three elements:

In [7]:
# TODO: for each column except the label column, compute the standard deviation of the columns
# report all the values that are at distance > 3 * std from the mean value as outliers.

df.describe()

               0          1          2          3
count   5.000000   5.000000   5.000000   5.000000
mean    8.000000   9.000000  10.000000  11.000000
std     6.324555   6.324555   6.324555   6.324555
min     0.000000   1.000000   2.000000   3.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     8.000000   9.000000  10.000000  11.000000
75%    12.000000  13.000000  14.000000  15.000000
max    16.000000  17.000000  18.000000  19.000000

To generate a sample with replacement, we can draw random integers.

In [8]:
# TODO: draw three random integer values from the index values of the dataframe 
# (Note that the default index of the dataframe starts from 0)

import random

for i in range(0,3):
    var = random.randint(0, len(df))
    print("Integer number", i, "! Select index, #", var)
    print(df.take([var]))
    print("\n")

Integer number 0 ! Select index, # 0
   0  1  2  3
0  0  1  2  3


Integer number 1 ! Select index, # 0
   0  1  2  3
0  0  1  2  3


Integer number 2 ! Select index, # 0
   0  1  2  3
0  0  1  2  3

These random integers can be used as input for the 'take' method, which is then used to sample the data. Since the random integers consistuting the array may be repeated, the rows sampled by this method may also be repeated -- or, in other words, sampled with replacement.

In [9]:
# Extract the row with indexes drawn in the previous step

np.random.permutation(df)[0:3]

array([[ 8,  9, 10, 11],
       [16, 17, 18, 19],
       [12, 13, 14, 15]])

### Data Normalization or Standardization

Aside from sampling data, we may also want to normalize or standardize our data.

In [10]:
# TODO: normalize the data in the df by dividing the values over the sum of the values in the dataframe

# Considering sum of whole df
df_sum = df.copy()

df_sum = df_sum / df_sum.sum()
df_sum

     0         1     2         3
0  0.0  0.022222  0.04  0.054545
1  0.1  0.111111  0.12  0.127273
2  0.2  0.200000  0.20  0.200000
3  0.3  0.288889  0.28  0.272727
4  0.4  0.377778  0.36  0.345455

In [ ]:
df.sum()

In [ ]:
# TODO: normalize the data in the df by dividing the values over the average of the values in the dataframe

df_avg = df.copy()

df_avg = df_avg / df_avg.mean()
df_avg

In [ ]:
# TODO: normalize the data in the df by mapping the values to the interval [-5,5]
arr = df.copy()
start = -5
end = 5
width = end - start
res = (arr - arr.min())/(arr.max() - arr.min()) * width + start
res

In [ ]:
## Scaling in the whole dataset

# TODO: normalize the data in the df by mapping the values to the interval [-5,5]
by_mapping = round(df/df.sum().sum()*100 - 5, 3)
by_mapping